* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgb(108, 166, 221), rgb(73, 61, 236));
    height: 100vh;
}

h1 {
    margin: 12px;
    font-size: 33px;
    text-align: center;
}

.logo {
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
}

.container {
    max-width: 955px;
    /* background-color: red; */
    margin: auto;
    height: 50vh;
    padding: 33px;
    border: 2px solid black;
    overflow-y: auto;
    margin-bottom: 23px;
    border-radius: 15px;
}


.message {
    background-color: rgb(146, 146, 146);
    width: 24%;
    border: 2px solid black;
    border-radius: 9px;
    margin: 17px 13px;
    padding: 10px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}


#send-container {
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 985px;
}

#messageInp {
    width: 93%;
    border: 2px solid black;
    height: 35px;
    border-radius: 16px;
    background-color: rgb(194, 255, 255);
}

.btn {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    height: 35px;
    width: 50px;
    background-color: rgb(138, 211, 187);
}
